<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Crea Utente</title>
</head>
<body>
    <h1>Crea Utente</h1>
    <form action="/admin/create_user" method="POST">
        <label>Nome:
            <input type="text" name="nome" required>
        </label><br><br>
        <label>Cognome:
            <input type="text" name="cognome" required>
        </label><br><br>
        <label>Email:
            <input type="email" name="email" required>
        </label><br><br>
        <label>Orario di inizio:
            <input type="time" name="orario_inizio" required>
        </label><br><br>
        <label>Inizio pausa pranzo:
            <input type="time" name="orario_pausa_inizio" required>
        </label><br><br>
        <label>Fine pausa pranzo:
            <input type="time" name="orario_pausa_fine" required>
        </label><br><br>
        <label>Orario di fine:
            <input type="time" name="orario_fine" required>
        </label><br><br>
        <button type="submit">Crea Utente</button>
    </form>
    <p><a href="/admin/panel">Torna al pannello</a></p>
</body>
</html>